@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #000000 ;
    color: #F6F6F6 ;
    height: 100vh;
    
}
.cabeçalho{
    padding: 0% 0% 0% 1%; /*topo, rigth, bittom,left*/
}
/*nav*/
.cabeçalho_menu{
 
    display: flex;
    gap: 40px;
    font-family: "DM Serif Text", serif;
    font-weight: 500;
    font-style: normal;
}

.cabeçalho_menu_link{
    font-family: "DM Serif Text", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem; /*24 px - fonte media do browser 1 rem=16 px*/
    color:#F6F6F6;
    text-decoration: none;
    background-color: #000000;
}
main{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.conteudo__texto_botões{/*container de links <a>*/
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    height:50vh ;

}
.conteudo__texto_botões_botão1{
    background-color:#22D4FD;
    color: #F6F6F6;
    padding: 20px;
    width: 60%;
    border-radius: 16px;
    text-decoration: none;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
/*Função para mudar propriedade ao passar o mouse*/
.conteudo__texto_botões_botão1:hover{
    color:#221a1a;
}
@media(max-width: 1024px){
    .conteudo__texto_titulo{
        margin: 10%;
        text-align: center; /* Centraliza o texto */
    }
}