@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {

    background-color: #000000 ;
    color: #F6F6F6 ;
    /* height: 100vh; */
}
.cabeçalho{
    padding: 0% 0% 0% 1%; /*topo, rigth, bittom,left*/
}
/*nav*/
.cabeçalho_menu{
 
    display: flex;
    gap: 40px;
    font-family: "DM Serif Text", serif;
    font-weight: 500;
    font-style: normal;
    


}

.cabeçalho_menu_link{


    font-family: "DM Serif Text", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem; /*24 px - fonte media do browser 1 rem=16 px*/
    color:#F6F6F6;
    text-decoration: none;
    background-color: #000000;
}


.conteudo{ /*container principal*/ 

    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
    gap: 80px;

}
.conteudo__texto{/*conteiner secundario*/
    display: flex; /*itens -> linha*/
    flex-direction: column; /*itens -> coluna*/
    width: 50%;
    gap: 40px;
    

}

.conteudo__texto_titulo{
    font-size: 2rem ;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.conteudo__texto_paragrafo{
    font-size: 1rem ;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.conteudo__texto_botões{/*container de links <a>*/
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.conteudo__texto_botões_botão1{
    background-color:#22D4FD;
    color: #F6F6F6;
    padding: 20px;
    width: 60%;
    border-radius: 16px;
    text-decoration: none;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
/*Função para mudar propriedade ao passar o mouse*/
.conteudo__texto_botões_botão1:hover{
    color:#221a1a;
    
}
.conteudo_direita{

width: 40%;
}
.rodape{

    color:#F6F6F6;
    background-color: #000000;
    padding: 15x;
    text-align: center;
    font-family: "DM Serif Text", serif;
    font-size: 1rem;
    font-weight: 500;
    /*altura rodape= altura da fonte+ padding top + botton*/
}
@media(max-width: 1024px){
.conteudo{
    flex-direction: column-reverse;
}
.conteudo__texto_botões{
    flex-direction: column;
}
}
